body {
    position: relative;
    height: 100vh;
}

body:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
}

.invalid-feedback {
    display: block !important;
}

.register-box {
    width: 576px !important;
}

#image_preview img {
    height: 135px !important;
}

label.error {
    color: #d43535;
    font-weight: 400 !important;
    font-size: 13px;
    margin-bottom: 0;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: middle !important;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: normal !important;
}

.fs-19 {
    font-size: 19px !important;
}


.fs-15 {
    font-size: 15px !important;
}

.gallery_holder .dropdown.open {
    position: static !important;
}

.gallery_holder .dropdown.open .dropdown-menu {
    display: table;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
}

.dropdown-menu .col-md-6 {
    display: table-cell;
}
